<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Wish List</title>
    <meta charset="utf-8">

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="javascripts/wish.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>

    <ui-view></ui-view>

    <script type="text/ng-template" id="/login.html">
        <div class="row justify-content-md-center">
            <div class="mainForm col-md-auto bg-light">
                <form id="loginForm">
                    <h1 class="col">Wish List</h1>
                    <div class="form-group">
                        <input type="text" class="form-control is-valid" id="username" aria-describedby="username" placeholder="enter username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control is-valid" id="password" placeholder="enter password" required>
                    </div>
                    <div class="invalid-feedback">Username and/or password are incorrect</div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <button ng-click="login()" id="login" type="submit" class="btn btn-primary">log in</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <small class="form-text text-muted">or</small>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <a href="#/register"><button type="button" class="btn btn-secondary">sign up</button></a>
                        </div>
                        <div class="col-auto">
                            <a href="#/search"><button type="button" class="btn btn-secondary">look up</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/register.html">
        <div class="row justify-content-md-center">
            <div class="mainForm col-md-auto bg-light">
                <form id="registerForm">
                    <h1 class="col">Wish List</h1>
                    <div class="form-group">
                        <input type="text" class="form-control is-valid" id="username" aria-describedby="username" placeholder="enter username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control is-valid" id="password" placeholder="enter password" required>
                    </div>
                    <div class="invalid-feedback">Username and/or password are incorrect</div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <button ng-click="register()" id="registerButton" type="submit" class="btn btn-primary">sign up</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <small class="form-text text-muted">or</small>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <a href="#/login"><button type="button" class="btn btn-secondary">log in</button></a>
                        </div>
                        <div class="col-auto">
                            <a href="#/search"><button type="button" class="btn btn-secondary">look up</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/search.html">
        <div class="row justify-content-md-center">
            <div class="mainForm col-md-auto bg-light">
                <form id="searchForm">
                    <h1 class="col">Wish List</h1>
                    <div class="form-group">
                        <input ng-keyup="search()" type="text" class="form-control is-valid" id="username" aria-describedby="username" placeholder="enter user">
                    </div>
                    <div class="form-group">
                        <input ng-keyup="search()" type="text" class="form-control is-valid" id="boardName" placeholder="enter board">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Select a board</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2">
                            <option ng-repeat="board in searchBoards">{{board.owner}}: {{board.boardName}}</option>
                         </select>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <button ng-click="search()" id="searchButton" type="submit" class="btn btn-primary">look up</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <small class="form-text text-muted">or</small>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <a href="#/login"><button type="button" class="btn btn-secondary">log in</button></a>
                        </div>
                        <div class="col-auto">
                            <a href="#/register"><button type="button" class="btn btn-secondary">sign up</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/boards.html">
        <h1>MY WISH LISTS</h1>
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm">
                    <input class="form-control form-control-sm" type="text" placeholder="filter boards">
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container boardCard" ng-repeat="board in boards">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg boardTitle" ng-click="goToBoard(board)">
                                <h5>{{board.boardName}}</h5>
                            </div>
                            <div class="col-auto">
                                <small ng-click="edit(board)" class="text-muted boardSetting">edit</small><small class="text-muted"> | </small><small ng-click="delete(board)" class="text-muted boardSetting">delete</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/items.html">
        <h1>LIST NAME</h1>
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm">
                    <input class="form-control form-control-sm" type="text" placeholder="filter items">
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container boardCard">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg itemTitle" ng-click="">
                                <h5>ITEM 1</h5>
                            </div>
                            <div class="col-auto" ng-if="isOwner()">
                                <small ng-click="edit(item)" class="text-muted boardSetting">edit</small><small class="text-muted"> | </small><small ng-click="delete(item)" class="text-muted boardSetting">delete</small>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-auto bg-light" style=>Hello</div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
</body>

</html>
