<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Wish List</title>
    <meta charset="utf-8">

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="javascripts/wish.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>

    <ui-view></ui-view>

    <script type="text/ng-template" id="/login.html">
        <div class="row justify-content-md-center">
            <div class="mainForm col-md-auto bg-light">
                <form id="loginForm">
                    <h1 class="col">Wish List</h1>
                    <div class="form-group">
                        <input type="text" class="form-control is-valid" id="username" aria-describedby="username" placeholder="enter username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control is-valid" id="password" placeholder="enter password" required>
                    </div>
                    <div class="invalid-feedback">Username and/or password are incorrect</div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <button ng-click="login()" id="login" type="submit" class="btn btn-primary">log in</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <small class="form-text text-muted">or</small>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <a href="#/register"><button type="button" class="btn btn-secondary">sign up</button></a>
                        </div>
                        <div class="col-auto">
                            <a href="#/search"><button type="button" class="btn btn-secondary">look up</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/register.html">
        <div class="row justify-content-md-center">
            <div class="mainForm col-md-auto bg-light">
                <form id="registerForm">
                    <h1 class="col">Wish List</h1>
                    <div class="form-group">
                        <input type="text" class="form-control is-valid" id="username" aria-describedby="username" placeholder="enter username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control is-valid" id="password" placeholder="enter password" required>
                    </div>
                    <div class="invalid-feedback">Username and/or password are incorrect</div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <button ng-click="register()" id="registerButton" type="submit" class="btn btn-primary">sign up</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <small class="form-text text-muted">or</small>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <a href="#/login"><button type="button" class="btn btn-secondary">log in</button></a>
                        </div>
                        <div class="col-auto">
                            <a href="#/search"><button type="button" class="btn btn-secondary">look up</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/search.html">
        <div class="row justify-content-md-center">
            <div class="mainForm col-md-auto bg-light">
                <form id="searchForm">
                    <h1 class="col">Wish List</h1>
                    <div class="form-group">
                        <input ng-keyup="search()" type="text" class="form-control is-valid" id="username" aria-describedby="username" placeholder="enter user">
                    </div>
                    <div class="form-group">
                        <input ng-keyup="search()" type="text" class="form-control is-valid" id="boardName" placeholder="enter board">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Select a board</label>
                        <select ng-model="selectedBoard" ng-options="board as board.boardName for board in searchBoards" class="form-control" id="filteredBoards">
                         </select>
                    </div>
                    <div ng-if="hasPassword" class="form-group">
                        <input ng-model="password" type="password" class="form-control is-valid" id="password" placeholder="enter password" required>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <button ng-click="goToBoard()" id="searchButton" type="submit" class="btn btn-primary">look up</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <small class="form-text text-muted">or</small>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <a href="#/login"><button type="button" class="btn btn-secondary">log in</button></a>
                        </div>
                        <div class="col-auto">
                            <a href="#/register"><button type="button" class="btn btn-secondary">sign up</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/boards.html">
        <div class="addWrapper">
            <div ng-show="addItemScreen" class="addItemScreen">
                <div id="box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <form id="registerForm">
                                <h1 class="col">Add Item</h1>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="name" ng-model="name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="url" placeholder="image url" ng-model="imgURL">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="url" placeholder="description" ng-model="theDescription">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="url" placeholder="link" ng-model="link">
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-auto">
                                        <button ng-click="submitItem()" id="submitButton" type="submit" class="btn btn-primary">Submit Item</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-md-center">
                                    <div class="col-auto">
                                        <button ng-click="cancelItem()" id="cancelButton" type="submit" class="btn btn-primary">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div id="page-mask" ng-show="addItemScreen"></div>
        </div>
        <h1>MY WISH LISTS</h1>
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm">
                    <input class="form-control form-control-sm" type="text" placeholder="filter lists">
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container boardCard" ng-repeat="board in boards">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg boardTitle" ng-click="goToBoard(board)">
                                <h5>{{board.boardName}}</h5>
                            </div>
                            <div class="col-auto">
                                <small ng-click="edit(board)" class="text-muted boardSetting">edit</small><small class="text-muted"> | </small><small ng-click="delete(board)" class="text-muted boardSetting">delete</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-auto">
                    <h6 class="add" ng-click="addBoard()">&plus; add list</h6>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/items.html">
        <div class="addWrapper">
            <div ng-show="addItemScreen" class="addItemScreen">
                <div id="box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <form id="registerForm">
                                <h1 class="col">Add Item</h1>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="name" placeholder="name" ng-model="name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="url" placeholder="image url" ng-model="imgURL">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="theDescription" placeholder="description" ng-model="theDescription">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="link" placeholder="link" ng-model="link">
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-auto">
                                        <button ng-click="submitItem()" id="submitButton" type="submit" class="btn btn-primary">Submit Item</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-md-center">
                                    <div class="col-auto">
                                        <button ng-click="cancelItem()" id="cancelButton" type="submit" class="btn btn-primary">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-mask" ng-show="addItemScreen"></div>
        </div>
        <div class="editWrapper">
            <div ng-show="editItemScreen" class="editItemScreen">
                <div id="box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <form id="registerForm">
                                <h1 class="col">Edit Item</h1>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="editName" ng-model="editName">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="editURL" ng-model="editImgURL">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="editTheDescription" ng-model="editTheDescription">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control is-valid" id="editLink" ng-model="editLink">
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-auto">
                                        <button ng-click="submitEdit()" id="submitEditButton" type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-md-center">
                                    <div class="col-auto">
                                        <button ng-click="cancelEdit()" id="cancelEditButton" type="submit" class="btn btn-primary">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-mask" ng-show="editItemScreen"></div>
        </div>
        <h1>{{boardName}}</h1>
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm">
                    <input class="form-control form-control-sm" type="text" placeholder="filter items" id="filter" ng-model="filter">
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <br>
                    <div class="container itemCard" ng-repeat="item in items">
                        <div class="row justify-content-between align-items-center">
                            <div id="picture" style="background: url({{item.picture}}) 50% 50% no-repeat;"></div>
                            <div class="col-lg itemTitle">
                                <h3><a href="{{item.link}}">{{item.title}}</a></h3>
                                <p>{{item.theDescription}}</p>
                                <div ng-if="notOwner()"><h5>Reserved:</h5>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                                </div>
                            </div>
                            <div class="col-auto" ng-if="isOwner()">
                                <small ng-click="edit(item)" class="text-muted boardSetting">edit</small><small class="text-muted"> | </small><small ng-click="delete(item)" class="text-muted boardSetting">delete</small>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button ng-click="addItem()" id="addItem" type="submit" class="btn btn-primary">Add Item</button>
                </div>
            </div>
        </div>
        </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
</body>

</html>
