body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mainForm {
  border-radius: 20px;
  border: 1px solid #68a2ff;
  padding: 30px;
}

.boardCard {
  background-color: #91bbff;
  border-radius: 10px;
  border: 1px solid #68a2ff;
  padding: 10px;
}

.boardSetting:hover {
  color: black;
  cursor: pointer;
}
